    <footer class="footer">
      <p>Copyright © {{year}} Outscale SAS. {{page.attributes.copyright-text}} | <a href="{{page.attributes.legalmentions-url}}">{{page.attributes.legalmentions-text}}</a></p>
      <p>{{page.attributes.antoramention-text}} <a href="https://antora.org/">Antora</a>.</p>
    </footer>
