    <footer class="footer">
      <p>Copyright © {{year}} Outscale SAS. {{page.attributes.copyright-text}} | <a href="{{page.attributes.legalmentions-url}}" class="xref page">{{page.attributes.legalmentions-text}}</a></p>
      <p>{{#if env.GIT_LOG_EXTENSION}}{{page.attributes.gitlog-text}} {{{page.attributes.gitlog}}}. {{/if}}{{page.attributes.antoramention-text}} <a href="https://antora.org">Antora</a> {{#if page.attributes.en}}et{{else}}and{{/if}} <a href="https://github.com/outscale/osc-doc-framework">osc-doc-framework</a>.</p>
    </footer>
